.video-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.panel {
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
}

.panel h3 {
  font-size: calc(24 / 16 * 1rem);
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: all 0.5s ease-in 0.4s;
}

@media (max-width: 480px) {
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
